@import url("https://fonts.googleapis.com/css?family=Lexend");
@import url("https://fonts.googleapis.com/css?family=Lilita One");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: 100%;
  background-color: #CFFCFA;
}

.navigationbar {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.top-navbar {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 25px; 
  left: 20px; 
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  width: calc(100% - 40px);
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center; 
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px; 
}

.navbar {
  color: #83818c;
  padding: 20px 15px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0;
  z-index: 1;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.navbar:not(.active):hover:before {
  opacity: 1;
  bottom: 0;
}

.navbar:not(.active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  bottom: 0;
  height: 5px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
} 

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #fff; 
  min-width: 140px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 12px;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  z-index: 1;
}

.dropdown-content a {
  color: #83818c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  overflow: hidden;
  border-radius: 12px;
  background-color: #f1f1f1; 
}

.dropdown-toggle {
  position: relative;
  display: inline-block; 
}

.dropdown-toggle:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea; 
  border-radius: 8px 8px 0 0;
  opacity: 0; /* Initially hidden */
  transition: 0.3s;
}

.dropdown-toggle:hover:before, 
.dropdown-toggle.active:before { 
  opacity: 1;
  bottom: 0;
}

.dropdown-toggle:not(.active):hover {
  color: #333; 
}


.dropdown-toggle.active {
  color: #333; 
}


@media (max-width: 580px) {
  .navigationbar {
      overflow: auto;
  }
}

/* BANNER */

.top-center {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-family: "Lilita One";
    color: #618fa0;
}

.banner img {
    width: 100%;
}

/* GENERAL INFO */
.general {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 70px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
}

.divider {
  display: flex;
  width: 90%;
  margin: auto;
}
.inner-img {
  margin: auto;
  padding: 14px;
}

.inner-img img{
  width: 75px;
}

.inner-text {
  padding: 14px;
}

/* TITLE */

.skibidi {
  background-color: #CFFCFA;
  height: 140px;
}

.title {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
}

.title h1 {
  font-family: Lexend;
  font-size: 26px;
  font-weight: 500;
  color: black;
  margin-left: 15px;
  margin-top: 5px;
}

.btn-audio {
  cursor: pointer;
  background-color: palevioletred;
  color: white;
  font-family: Lexend;
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  border: 0;
}

.btn-audio:hover {
  background-color: rgb(150, 80, 103);
}


/* DESCRIPTION */

.colored-bg {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.flexbox-white-bg {
  border: 1px solid #ddd;
  background-color: white; /* Blue background */
  width: calc(60% - 10px); /* Set width to 90% */
  margin: auto; /* Center horizontally */
  border-radius: 10px; /* Set border radius to 10px */
  padding: 10px; /* Add padding to create space around the content */
}

.desc-flexbox {
  display: flex;
  flex-direction: column;
  padding: 20px; /* Padding inside each section */ /* Make sure the desc-flexbox takes up the full width of the flexbox-bg */
  margin-bottom: 0; /* Remove bottom margin to avoid gaps */
}


/* Header styles */
.desc-flexbox-header h2 {
  background-color: #689ea7;
  padding: 12px;
  border-radius: 8px;;
  font-family: Lexend;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 5px;
  color: white;
}

/* Paragraph styles */
.desc-flexbox-para {
  padding: 5px;
}

.desc-flexbox-para p {
  font-family: Lexend;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  color: #666;
}

.image-white-bg {
  background-color: white; /* White background */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the image container */
  width: 100%;
  display: flex; /* Flexbox for image and text */
  align-items: center; /* Center items vertically */
  flex-direction: column;
}

.image-ff img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Slightly rounded image corners */
}

.text-ff {
  font-family: Lexend;
  font-weight: 500;
  font-size: 14px; /* Font size for text */
  color: #333; /* Dark gray text color */
  line-height: 1.5; /* Line height for better readability */
}

.column {
  display: flex; 
  gap: 10px; 
  width: 75%;
  margin: auto;
  margin-bottom: 40px;
}

.gallery-ff {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: calc(40% - 10px)
}

.gallery-title h2{
  background-color: #689ea7;
  padding: 12px;
  border-radius: 8px;;
  font-family: Lexend;
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 5px;
  color: white;
}

@media screen and (max-width: 768px) {
  .desc-flexbox {
      margin: 10px 0; /* Adjust margin for smaller screens */
  }
  .column {
    display: block;
  }
  .flexbox-white-bg, .gallery-ff {
    width: 100%;
  }
  .gallery-ff {
    margin-top: 10px;
  }

}

/* HABITAT */

.column-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97%;
  margin: 10px auto;
  padding: 6px;
  gap: 10px;

}
.habitat-icon {
  text-align: center;
  background-color: white;
  border: solid 1px #618fa0;
  width: calc(50% - 10px);
  border-radius: 10px;
  padding: 10px;
}

.habitat-icon img{
  width: 90%;
  border-radius: 10px;
  margin-top: 5px;
}

.habitat-icon h4 {
  font-family: Lexend;
  font-size: 18px;
  font-weight: 900;
  color: #436e7e;
}

.habitat-icon p{
  font-size: 14px;
  margin-bottom: 10px;
  color: #618fa0;
}

@media screen and (max-width: 768px) {
  .column-2 {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .habitat-icon {
    width: 80%; 
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .habitat-icon img {
    width: 90%;
  }

  .habitat-icon p{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto; 
  }
}

/* FEATURES */

hr {
  border: none;
  height: 0.5px;
  background-color: #999;
  width: 100%;
}

.single-lines {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.single-lines img {
  width: 80px;
  padding: 10px;
  margin: auto;
}

.single-lines-desc {
  padding: 10px;
  font-family: Lexend;
}

.single-lines-desc h3{
  font-size: 18px;
  color: #666;
}

.single-lines-desc p{
  font-size: 14px;
  color: #666;
}


