@import url("https://fonts.googleapis.com/css?family=Lexend");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #CFFCFA;
  background-image: url('quizbg.png');
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Lexend;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigationbar {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.top-navbar {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 25px; 
  left: 20px; 
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  width: calc(100% - 40px);
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  justify-content: flex-start;
}

.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center; 
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px; 
}

.navbar {
  font-size: 18px;
  color: #83818c;
  padding: 20px 15px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0;
  z-index: 1;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar:hover {
  color: #171717;
  font-size: 19px;
}

.dropdown {
  position: relative;
  display: inline-block;
} 

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #fff; 
  min-width: 140px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 12px;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  z-index: 1;
}

.dropdown-content a {
  color: #83818c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  border-radius: 12px;
  background-color: #f1f1f1; 
}

.dropdown-toggle {
  position: relative;
  display: inline-block; 
}

.dropdown-toggle.active {
  color: #333; 
}

@media (max-width: 580px) {
  .navigationbar {
    overflow: auto;
  }

  .navbar {
    font-size: 13px;
  }

  .navbar:hover {
    font-size: 14px;
  }

  .nav-icon {
    width: 25px;
    height: 25px;
  }

  .dropdown-content {
    min-width: 100px; 
  }
}

.container {
  margin-top: 150px;
  justify-self: center;
  text-align: center;
  background-color: white;
  justify-self: center;
  text-align: center;
  width: 800px;
  height: 330px;
  border-radius: 24px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;

}

.button-container {
  display: flex;
  flex-direction: row;
}

.progress-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  margin: 20px;
  justify-self: center;
}

.progress-bar {
  height: 30px;
  width: 0;
  background-color: #76c7c0;
  transition: width 0.5s;
}

.question {
  margin: 20px 0;
}

.blank {
  border: 2px solid #76c7c0;
  border-radius: 24px;
  padding: 5px;
  min-width: 100px;
  display: inline-block;
}

.feedback.hidden {
  color: red;
  margin-top: 15px;
  display: none;
}

.feedback {
  color: red;
  margin-top: 15px;
}

.container h1 {
  color: #76c7c0;
  justify-self: center;
  font-size: 60px;
  margin-top: 30px;
}

#submit-button {
  background-color: #689ea7;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 15px;
  margin: 10px;
  width: auto;
  transition: background-color 0.3s ease;
  font-family: "Lexend";
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #689ea7;
}

#submit-button:hover {
  background-color: white;
  color: #689ea7;
  border-radius: 24px;
  padding: 15px;
  margin: 10px;
  width: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Lexend";
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #689ea7;
}


#modal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #689ea7;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: white;
  
}

#modal.hidden {
  display: none; /* Keeps it hidden */
}

#modal-content {
  background-color: #689ea7;
  border-radius: 24px;
  padding: 30px;
  text-align: center;
  width: 500px;
}

#restart-button,
#finish-button {
  background-color: white;
  color: #689ea7;
  border: none;
  border-radius: 24px;
  padding: 15px;
  margin: 10px;
  width: auto;
  transition: background-color 0.3s ease;
  font-family: "Lexend";
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #689ea7;
}

#restart-button:hover,
#finish-button:hover {
  background-color: #3b6a72;
  color: #689ea7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
